<table>
{{#each zmones}}
    <tr>
        <td>
            {{this.vardas}}
        </td>
        
        td>
            {{this.vardas}}
        </td>
    </tr>
{{/each}}

    
</table>



{{#each zmones}}
<div>
    {{this.vardas}}
    <span><Vardas></Vardas>
